/* @font-face {
  font-family: 'PloniRegular';
  src: local('Ploni'), url(/src/assets/fonts/Ploni/Ploni-Regular.ttf);
}

@font-face {
  font-family: 'PloniMedium';
  src: local('Ploni'), url(/src/assets/fonts/Ploni/Ploni-Medium.ttf);
}

@font-face {
  font-family: 'PloniBold';
  src: local('Ploni'), url(/src/assets/fonts/Ploni/Ploni-Bold.ttf);
}

@font-face {
  font-family: 'PloniDemiBold';
  src: local('Ploni'), url(/src/assets/fonts/Ploni/Ploni-DemiBold.ttf);
}

@font-face {
  font-family: 'PloniUltraBold';
  src: local('Ploni'), url(/src/assets/fonts/Ploni/Ploni-UltraBold.ttf);
}

@font-face {
  font-family: 'PloniLight';
  src: local('Ploni'), url(/src/assets/fonts/Ploni/Ploni-Light.ttf);
} */